html, body {font-family: monospace; padding: 50px;}

.big-font {font-size: 64pt;}
.small-font {font-size: 4pt;}

.case {padding: 10px; background-color: black; color: white; margin: 10px;}
.border-case {border-radius: 20px; padding: 10px; background-color: black; color: white; margin: 10px;}

table td, table tr, table th{border: black thin solid; border-radius: 5px;}

.text-custom {
    background-color: white;
    border-color: rgb(168, 168, 168);

    border-width: 5px;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    font-weight: bold;
}
.text-custom:focus, .text-custom:hover {
    background-color: greenyellow;
    border-color: greenyellow;
    border-width: 5px;
    color: black;

}






.custom-form {
    background-color: black;
    color: rgb(15, 180, 0);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    max-width: 250px;

}
.firstname label, .lastname label, .birthday label {font-weight: bolder; font-size: 16pt;}

.firstname input, .lastname input, .birthday input {
    border-radius: 5px;
    background-color: rgb(49, 49, 49);
    color: rgb(15, 180, 0);
    font-weight: bold;
    margin-bottom: 10px;
}
.firstname input:hover, .lastname input:hover, .birthday input:hover {background-color: rgb(15, 49, 15);}

.submit {
    width: 150px;
    padding: 10px;
    color: black;
    background-color: rgb(15, 180, 0);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bolder;
    font-size: 18pt;
    text-align: center;
}
.submit:hover {
    border-color: rgb(15, 180, 0);
    border-width: 3px;
    background-color: black;
    color: rgb(15, 180, 0);
}

.range input {
    background-color: black;
    color: rgb(15, 180, 0);
}